---

---

@charset "UTF-8";

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

@import "style.scss";

// Demo only
.demo {
  display: inline-block;
  width: 100%;
  margin-bottom: 0.5em;
  color: #fff;
  text-align: center;
  background-color: #D34A28;
}
