---
layout: default
---

<div class="home">

  <h1 class="page-heading">Work</h1>

  {{ content }}


  {% for page in site.pages %}

      {% if page.featuredPage %}
      <div class="col s6"><h4><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h4></div>
      {% endif %}

    {% endfor %}

    {% for post in site.posts %}


        <div class="col s6"><h4><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h4></div>


      {% endfor %}



  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
